<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Flat Registration Form Flat Responsive Widget Template | Home :: w3layouts</title>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Registration Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
	<h1>Flat Registration Form</h1>
<div class="login">
		<h2>Join Today</h2>
		<div class="lock"> <img src="images/lock.png" alt="" title=""/> </div>
		<p>Choose on of the following up methods</p>
		<div class="button">
			<a class="tw" href="#"> <span class="anc-tw"> </span> Twitter</a>
			<a class="fa" href="#"> <span class="anc-fa"> </span> Facebook</a>
			<a class="go" href="#"><span class="anc-go"> </span>Google+</a>
		</div>
		<span class="line"> </span>
		<p>Or signup using Your Email address</p>
		<input type="text" class="user active" value="Enter your full name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
		<input type="text" class="email" value="Enter your email address..."/ onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
		<input type="password" value="Password..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
		<a class="acc" href="#">Create My Account<span class="arrow"> </span></a>
</div>	
<div class="copyright">
	<p>Template by <a href="http://w3layouts.com/" target="_blank"> W3layouts </a></p>
</div>	
</body>
</html>